// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;

  li + li {
    margin-top: .25rem;
  }
}

// Wrapper for post/page header
.page-header,
.post-header {
  margin-bottom: 2rem;

  .page-header-inner,
  .post-header-inner {
    display: inline-block;
    margin-left: -($container-padding);
    margin-right: -($container-padding);
    padding: .5rem 2rem;
    background-color: $post-header-background-color;
    color: $post-header-title-color;

    @media (min-width: $media-breakpoint-lg) {
      margin-left: -($container-padding-lg);
      padding-left: $container-padding-lg;
    }

    // Custom modifier for posts with external links
    &.post-external-link {
      color: $post-header-external-color;

      a {
        color: $post-header-external-color;
      }
    }
  }
}

// Blog post or page title
.page-title,
.post-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $post-header-title-color;
}

// Meta data line below post title
.post-date,
.post-meta,
.page-meta {
  display: block;
  margin: .5rem 0;
  font-size: 1.25rem;
  line-height: 1.25;
}

// Post reading time
.post-reading-time {
  display: block;
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

// Post subtitle/abstract
// 1. This is needed for Chrome and Safari to properly render `box-decoration-
// break`.
.post-subtitle {
  margin: 2rem 0;
  width: 70%;

  span {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75;
    padding: 0 .25rem;
    background-color: $base0C;
    -webkit-box-decoration-break: clone; // 1
    box-decoration-break: clone;

    @media (min-width: $media-breakpoint-md) {
      font-size: 1.5rem;
    }
  }
}
